*, ::after, ::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header" 
  "nav content";
}

.box {
  width: 100%;
  margin: 0 auto;
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}

.d-f {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .box {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .box {
    max-width: 720px;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
}


@media (min-width: 992px) {
  .box {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .box {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .box {
    max-width: 1320px;
  }
}